**PATTERNS**

In [ ]:
#Pattern-1

n=5
for i in range(n):
    print("*"*n)

*****
*****
*****
*****
*****

In [ ]:
#Pattern-2

n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [ ]:
#Pattern-3

n1= 5
for i1 in range(1, n1+1):
     for j1 in range(i1):
         print(j1+1,end="")
     print()

1
12
123
1234
12345

In [ ]:
#Pattern-4

n2= 5
for i2 in range(1, n1+1):
    print(str(i2)*i2)

1
22
333
4444
55555

In [ ]:
#Pattern-5

n4=5
for i4 in range(1, n4+1):
    print("*"*(n4+1-i4))

*****
****
***
**
*

In [ ]:
#Pattern-6

n4=5
for i4 in range(1, n4+1):
    for j4 in range(1,((n4+2)-i4)) :
        print(j4, end="")
    print()

12345
1234
123
12
1

In [ ]:
#Pattern-7

n5 =5
for i5 in range(1, n5+1):
     string = " "*((n5+1-i5)-1)+"*"*((2*i5)-1)+" "*((n5+1-i5)-1)
     print(string)

    *
   ***
  *****
 *******
*********

In [ ]:
#Pattern-8

n6=5
for i6 in range(n6):
    string = " "*i6+("*"*(2*n6-(2*i6+1)))+" "*i6
    print(string)

*********
 *******
  *****
   ***
    *

In [ ]:
#Pattern-9

n=5
for i in range(n):
     string = " "*((n-i)-1)+"*"*((2*i)+1)+" "*((n-i)-1)
     print(string)
for i in range(n):
    string = " "*i+("*"*(2*n-(2*i+1)))+" "*i
    print(string)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
#Pattern-10

n=5
for i in range(2*n-1):
    if i>n:
       print("*"*(2*n-i))
    else:
       print("*"*i)

*
**
***
****
*****
****
***
**

In [ ]:
#Pattern-11

n=5

for i in range(1,n+1):
    if i%2==0:
      start=0
    else:
      start=1
    for j in range(i):
       print(start,end="")
       start=1-start
    print()

1
01
101
0101
10101

In [ ]:
#Pattern-12

n=4

for i in range(1,n+1):
    for j in range(1,i+1):
       print(j,end="")

    print(" "*(2*n-(2*i)),end="")

    for j in range(i,0,-1):
      print(j,end="")
    print()

1      1
12    21
123  321
12344321

In [ ]:
#Pattern -13
n=5
sum=0
for i in range(1,n+1):
  for j in range(1,i+1):
    sum+=1
    print(sum,end=" ")
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#Pattern - 14

ord("A")

n=5
for i in range(1,n+1):
  for j in range(i):
    print(chr(ord("A")+j),end="")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
#Pattern - 15

ord("A")

n=5
for i in range(1,n+1):
  for j in range(0,(n+1-i)):
    print(chr(ord("A")+j),end="")
  print()

ABCDE
ABCD
ABC
AB
A

In [ ]:
#Pattern-16

n=5
for i in range(n):
    print(chr(ord("A")+i)*(i+1))

A
BB
CCC
DDDD
EEEEE

In [ ]:
n=4

for i in range(n):
  print("*"*(n-1))

  for j in range(2*i+1):
    if j>(((2*i+1)//2)):
      print(chr(ord("A")+j))
    else:
      print(chr(ord("A")+j))

**Brute Force Algorithm or Linear search algorithm**

Problem:
--------

Find out the index of a given number with least number of choices

In [ ]:
cards = [ 5,7,4,3,9,18,19,13,14,6,7,2,1,16,15,21,23,27,39,37,33,28]
print(f"len(cards) is :{len(cards)}")

sort_cards = sorted(list(set(cards)))
print(f"sort_cards is : {sort_cards} ")
Qry_number = int(input("enter the number:"))

if len(sort_cards)>0:
   for value in range(len(sort_cards)):
        if sort_cards[value]==Qry_number:
           print("Found the number at index:",value)
           break

len(cards) is :22
sort_cards is : [1, 2, 3, 4, 5, 6, 7, 9, 13, 14, 15, 16, 18, 19, 21, 23, 27, 28, 33, 37, 39]
enter the number:28
Found the number at index: 17

In [ ]:
# 0+21 =
21//2

10

The above shown answer is brute force algorithm,it iterates through each and every element of the list,whenever it finds a match it gives the index and break out of the loop.For smaller lists containing upto 50 elements it works very good.But if the sizze of the list is very large,it takes very huge amount of time. So to overcome that we use Binary Search Algorithm

**Binary Search Algorithm**

In [ ]:


cards = [ 5,7,4,3,9,18,19,13,14,6,7,2,1,16,15,21,23,27,39,37,33,28]
print(f"len(cards) is :{len(cards)}")

sort_cards = sorted(list(set(cards)))
Qry_number = int(input("enter the number:"))

lower_index =0
higher_index = len(sort_cards)-1

while lower_index <=higher_index:

     mid = (lower_index+higher_index)//2
     if sort_cards[mid]==Qry_number:
         print(f" number found at the index:{mid}")
         break
     elif sort_cards[mid]>Qry_number:
         higher_index = mid-1
     else:
         lower_index = mid+1

len(cards) is :22
enter the number:28
 number found at the index:17

what if it contains Duplicate elements

In [ ]:
cards = [ 5,7,4,3,9,18,9,19,13,9,14,6,7,2,9,1,16,15,9,21,23,27,39,37,33,28]
print(f"len(cards) is :{len(cards)}")

# sort_cards = sorted(list(set(cards)))

#without removing duplicates
sort_cards = sorted(list(cards))

print(f"sort_cards are {sort_cards}")
Qry_number = int(input("enter the number:"))


def locate_index(sort_cards,Qry_number):
     lower_index =0
     higher_index = len(sort_cards)-1

     while lower_index <=higher_index:
        mid = (lower_index+higher_index)//2
        if sort_cards[mid]==Qry_number:
            print(f"counts of the query number is: {sort_cards.count(Qry_number)} ")
            if sort_cards.count(Qry_number)>1:
                sort_cards.index(Qry_number)
            print(f" number found at the index:{sort_cards.index(Qry_number)}")
            break
        elif sort_cards[mid]>Qry_number:
            higher_index = mid-1
        else:
            lower_index = mid+1
locate_index(sort_cards,Qry_number)

len(cards) is :26
sort_cards are [1, 2, 3, 4, 5, 6, 7, 7, 9, 9, 9, 9, 9, 13, 14, 15, 16, 18, 19, 21, 23, 27, 28, 33, 37, 39]
enter the number:9
counts of the query number is: 5
 number found at the index:8

**Removing Negetive Elements present in a list with ZERO**

In [ ]:
matrix = [[1, 2, -3], [2, 1, -5], [0, 0, -1]]

# Iterate through the matrix and replace negative elements with zero
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        if matrix[i][j] < 0:
            matrix[i][j] = 0

# Print the modified matrix
print(matrix)

[[1, 2, 0], [2, 1, 0], [0, 0, 0]]

**Parsing Json data**

Parsing json data means converting the Json data  a python dictionary object.

**Generating Json data**

Generating Json data mean converting python dictionary object into Json string.

**validating json data**

Checking the given data is json data or not

**From the above if you see that if there are duplicates of the query number,it founds out the **

In [ ]:
#Parsing Json data

import json
person = '{"name":"Prasanna Kumar","age":"30","rank":10}'
data = json.loads(person)

print(data['name'])
print(data["rank"])

Prasanna Kumar
10

In [ ]:
#Generating Json data
import json

person = {"name":"Prasanna Kumar","age":"30","rank":10}

json_string = json.dumps(person)

print(f"json string is {json_string}")

json string is {"name": "Prasanna Kumar", "age": "30", "rank": 10}